{%load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'bookmarks/style.css' %}" />
<!--<script src="{% static 'bookmarks/dropdown.js' %}"></script>-->

<head>
    <h1>List of Bookmarks</h1>
</head>
{% if bookmarks %}
    <ul>
    
    {% for bookmark in bookmarks %}
    
    <div class="section">
        <div class="title"><a href={%url 'detail' bookmark.id %}> {{ bookmark.title }} </a></div>
    </div>
       <!--<a href={%url 'detail' bookmark.id %}>{{ bookmark.title }}</a>-->
    {% endfor %}
    </ul>
{% else %}
    <p>You have no bookmarks. Try adding some!</p>
{% endif %}

<span>Click on the text to see the bookmark.</span>
